@import '../../../../styles/variables';
@import '../../../../styles/breakpoints';

.header {
  padding: 32px 0 24px 0;


  @media screen and (min-width: $md) {
    padding: 65px 0 60px 0;

  }

  &__title {
    width: 243px;
    color: $base_weak;
    margin: auto;

    @media screen and (min-width: $md) {
      width: 775px;
      font-size: 102px;
      line-height: 122px;
    }

  }

  &__title-top {
    padding-bottom: 0;
  }

  &__title-bottom {
    position: relative;
    text-align: right;
    display: block;

    @media screen and (min-width: $md) {
      margin-top: -32px;
    }
  }

}





