@import 'variables.scss';
@import 'input.scss';

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/ubuntu/Ubuntu-Regular.ttf')
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/ubuntu/Ubuntu-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/ubuntu/Ubuntu-Italic.ttf");
  font-style: italic;
}

body{
  font-size:16px;
  line-height:24px;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-weight:bold;
  font-size:32px;
  line-height:32px;
  color: $base_strong;
}

h2{
  font-weight:bold;
  font-size:24px;
  line-height:24px;
  color: $base_strong;
}



.select{
  /*&:after{
    content:'';
    width:16px;
    height:16px;
    background:url('../assets/icons/16/chevron-bottom.svg') 50% 50% no-repeat;
    background-size: 16px 16px;
    position:absolute;
    right:16px;
    top:16px;
  }*/
}