//colors
$accent: #373AF5;
$secondary: #8083A4;
$base_strong: #2C2D76;
$critic: #E5596D;
$base_weak: #FFFFFF;


//text styles
@mixin h1{
  font-weight:bold;
  font-size:32px;
  line-height:32px;
  color: $base_strong;
}

@mixin h2{
  font-weight:bold;
  font-size:24px;
  line-height:24px;
  color: $base_strong;
}

@mixin body_bold{
  font-weight:bold;
  font-size:16px;
  line-height:24px;
}

@mixin body{
  font-size:16px;
  line-height:24px;
}

@mixin meta{
  font-size:14px;
  line-height:18px;
}


$font: 'Ubuntu', sans-serif;
