@import '../../../styles/breakpoints.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/input.scss';

.field{
  position:relative;
  width:100%;
  min-width:252px;
  margin-bottom:24px;
  height:48px;
  background: rgba(128, 131, 164, 0.06);

  &:last-of-type{
    margin-bottom:0;
  }

  @media screen and (min-width: $small) {
    width:252px;
    margin-bottom:0;
  }


  &__input {
    position: relative;
    height: 100%;
    width: 100%;


    &:after{
      content: '';
      cursor:pointer;
      width:16px;
      height:16px;
      position:absolute;
      top:16px;
      right:16px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size:16px;
    }

    &:hover:after{
      opacity:0.6;
    }
  }

  &__placeholder{
    @include placeholder;

    position:absolute;
    left:0;
    top:0;
  }

  &__error{
    text-align:right;
    color:$critic;
  }

  &:not(&_is-empty){
    .field__placeholder{
      display:none;
    }
  }


  &_select{
    .field__input:after{
      background:url('../../../assets/icons/16/chevron-bottom.svg') 50% 50% no-repeat;
    }

    &.field_is-open{
      .field__input{
        &:after{
          transform: rotate(180deg);
        }
      }

      .input, .input:hover{
        border: 2px solid $accent;
      }
    }
  }

}

.input{
  @include input;

  &:hover{
    border: 2px solid $secondary;
  }

  &:focus{
    border: 2px solid $accent;
  }
}

.field_error{
  .input:not(.input:focus){
    border-color:$critic;
  }
}