@import '../../../styles/breakpoints.scss';
@import '../../../styles/variables.scss';


.input_select{
  color: $base_strong;
}

.select-modal{

  margin-top:12px;
  overflow:auto;
  height:160px;
  position:absolute;
  width:100%;

  background:white;

  border: 2px solid rgba(128, 131, 164, 0.06);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(4, 5, 73, 0.16), 14px 14px 20px rgba(5, 6, 114, 0.08);
  border-radius: 8px;
  z-index:3;


  &__list{
    list-style: none;
    padding:0 6px;
    margin:6px 0;
  }

  &__option{
    @include body;

    color:$base_strong;
    margin-top: 6px;
    cursor:pointer;
    padding:6px 10px;

    &:hover{
      background: rgba(128, 131, 164, 0.06);
      border-radius: 8px;
    }

  }
}